.Hud {
  position: absolute;
  left: 2px;
  top: 5px;
  background: var(--menu-background);
  border: 1px solid var(--menu-border-color);
  border-radius: 3px;
  color: var(--menu-font-color);
  image-rendering: pixelated;
}

.Hud .Combatant {
  position: relative;
  margin-bottom: 10px;
}

.Hud .Combatant_type {
  display: none;
}

.plates-text,
.nerfs-text,
.chopsticks-text {
  font-size: 5px;
  padding: 4px;
}
